* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

}

/*---- Features : Moves Counter, Timer and Reset ----*/

.callout {
    color: #fff;
    font-family: monospace;
}

.features {

    align-items: center;
    justify-content: center;
    color: #fff;
    /*check this code to position the features on top of the game*/
}

.features .movescounter {
    font-size: 35px;
}

.features .moves {
    font-size: 20px;
    font-family: monospace;
}

.features .timer {
    font-size: 35px;
}

#resetBtn {
    color: #fff;
}



/*---- Game Board ----*/

.game {
    height: 340px;
    width: 340px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    border: 2px solid #22E20D;
    perspective: 1000px;
}

.cards {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;

}

.cards.flip {
    transform: rotateY(180deg);
}

.cards:active {
    transform: scale(.97);
    transition: transform .3s;
}

.cards:hover {
    background-color: #f1f1f1;

}


.revelead-pic,
.cover-side {
    background: #1721AA;
    width: 100%;
    height: 100%;
    padding: 1px;
    border-radius: 3px;
    position: absolute;
    backface-visibility: hidden;
}


.revelead-pic {
    transform: rotateY(180deg);
}
